@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  box-sizing: border-box;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

/* Works in Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
